<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Deezpotify</title>

		<link rel="stylesheet" href="/css/nav.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="/css/typo.css">
		<link rel="stylesheet" href="/css/utils.css">

		<link href="//fonts.cdnfonts.com/css/circular-std-book" rel="stylesheet">

		<link rel="manifest" href="/pwa.webmanifest">
		<meta name="theme-color" content="#764ABC"/>
		<link rel="apple-touch-icon" href="/files/pwa-icon-ios.webp">
	</head>
	<body>
		<nav id="topnav">
			<i class="iconify navbar-icons navbar-menu-icon" data-icon="mdi-menu"></i>
			<span id="navbar-title"></span>
		</nav>
		<div id="app">
			<div class="stylish-app-bg-thing"></div>

			<div class="app-home-header">
				<h1>Welcome back</h1>
				<span id="app-home-clients" class="text-muted">
					<div id="app-home-clients-imgs">
						<img class="app-home-client-img" src="https://i.scdn.co/image/ab6775700000ee85712e30420c1033db32448e6a">
					</div>1 client connected
				</span>
			</div>

			<div class="app-home-section" id="recently-played">
				<h3 class="app-home-section-title">Shortcuts</h3>
				<div class="app-home-section-scroll">
					<div class="app-home-item">
						<img src="https://lite-images-i.scdn.co/image/ab67706f0000000239c209b603f0bd0fea37761b" class="app-home-item-img album-img">
						<span class="app-home-item-name">Lemonade</span>
					</div>
					<div class="app-home-item">
						<img src="https://lite-images-i.scdn.co/image/ab67706f00000002fbb34846c2799d9c9a6c5711" class="app-home-item-img album-img">
						<span class="app-home-item-name">This is Joji</span>
					</div>
					<div class="app-home-item">
						<img src="https://lite-images-i.scdn.co/image/ab67706c0000da842ea9287266b15192830a5174" class="app-home-item-img playlist-img">
						<span class="app-home-item-name">all i wanna do is hold you tight in my arms and never let you go</span>
					</div>
				</div>
			</div>

			<div class="app-home-section" id="recently-played">
				<h3 class="app-home-section-title">Recently played</h3>
				<div class="app-home-section-scroll">
					<div class="app-home-item">
						<img src="https://dailymix-images.scdn.co/v2/img/ab6761610000e5eb382de0580130c3dfd2661c88/2/en/default" class="app-home-item-img playlist-img">
						<span class="app-home-item-name">Daily Mix 2</span>
					</div>
					<div class="app-home-item">
						<img src="https://lite-images-i.scdn.co/image/67d5482345408e2294a33a7e871bbdca5e0c5cbb" class="app-home-item-img artist-img">
						<span class="app-home-item-name">Freddie Dredd</span>
					</div>
					<div class="app-home-item">
						<img src="https://lite-images-i.scdn.co/image/ab67706c0000da84fc6a089f81fb5e392cd38f18" class="app-home-item-img playlist-img">
						<span class="app-home-item-name">ily more</span>
					</div>
				</div>
			</div>

			<div class="app-home-section" id="recently-played">
				<h3 class="app-home-section-title">Jump back in</h3>
				<div class="app-home-section-scroll">
					<div class="app-home-item">
						<img src="https://daily-mix.scdn.co/covers/on_repeat/PZN_On_Repeat2_DEFAULT-en.jpg" class="app-home-item-img playlist-img">
						<span class="app-home-item-name">On Repeat</span>
					</div>
					<div class="app-home-item">
						<img src="https://lite-images-i.scdn.co/image/f1d8f8439b1120fad1f87e59a223998c85036638" class="app-home-item-img artist-img">
						<span class="app-home-item-name">Bazzi</span>
					</div>
					<div class="app-home-item">
						<img src="https://lite-images-i.scdn.co/image/ab67706f000000026f1c73d9f275c3e8ef24ad00" class="app-home-item-img playlist-img">
						<span class="app-home-item-name">Indie Station</span>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom-navs">
			<div id="playing">
				<img id="playing-img" src="https://i.scdn.co/image/ab67616d00001e028c39980f387f7ab0b5e85c80">
				<div id="playing-track-info">
					<span id="playing-track-name">Bored</span>
					<span id="playing-track-artist">Thomas Headon</span>
				</div>
				<i class="iconify playing-nav-icon playing-nav-saved" id="playing-nav-save" data-icon="mdi-heart"></i>
				<i class="iconify playing-nav-icon" id="playing-nav-playpause" data-icon="mdi-pause"></i>
			</div>
			<div id="bottomnav">
				<div class="bottom-nav-item selected"><i class="iconify bottom-nav-icon" data-icon="mdi-home"></i><br><span>Home</span></div>
				<div class="bottom-nav-item"><i class="iconify bottom-nav-icon" data-icon="mdi-search"></i><br><span>Search</span></div>
				<div class="bottom-nav-item"><i class="iconify bottom-nav-icon" data-icon="mdi-music-box-multiple"></i><br><span>Library</span></div>
			</div>
		</div>
		<script src="/js/pwa.js"></script>
		<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
	</body>
</html>