<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Deezpotify</title>

		<link rel="stylesheet" href="/css/nav.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="/css/typo.css">
		<link rel="stylesheet" href="/css/utils.css">
		<link rel="manifest" href="/pwa.webmanifest">
		<meta name="theme-color" content="#764ABC"/>
		<link rel="apple-touch-icon" href="/files/pwa-icon-ios.webp">
	</head>
	<body>
		<nav id="topnav">
			<i class="iconify navbar-icons navbar-menu-icon" data-icon="mdi-menu"></i>
			<span id="navbar-title"></span>
		</nav>
		<div id="app">
			<div class="stylish-app-bg-thing"></div>
			<div class="app-home-login-header">
				<h1>Welcome back</h1>
			</div>
		</div>
		<div id="playing"></div>
		<div id="bottomnav">
			<div class="bottom-nav-item selected"><i class="iconify bottom-nav-icon" data-icon="mdi-home"></i><br><span>Home</span></div>
			<div class="bottom-nav-item"><i class="iconify bottom-nav-icon" data-icon="mdi-search"></i><br><span>Search</span></div>
			<div class="bottom-nav-item"><i class="iconify bottom-nav-icon" data-icon="mdi-music-box-multiple"></i><br><span>Library</span></div>
		</div>
		<script src="/js/pwa.js"></script>
		<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
	</body>
</html>