html { background: black; }

html, body {
	margin: 0;
	height: 100%;
	font-family: 'Circular Std Book', 'Circular Std Book Italic', 'Circular Std Medium', 'Circular Std Medium Italic', 'Circular Std Bold', 'Circular Std Bold Italic', 'Circular Std Black', 'Circular Std Black Italic', sans-serif;
	color: white;
}

* {
	box-sizing: border-box;

	margin-block-start: 0;
    margin-block-end: 0;
}

#app {
	padding: 1rem;
	padding-top: 3rem;

	z-index: 2;

	transition: opacity .5s;
}

.stylish-app-bg-thing {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	height: 25rem;
	width: 100%;

	background: linear-gradient(170deg, rgba(98,220,240,0.5) 0%, rgba(28,0,78,0) 50%);
}

.app-home-login-header {
	margin-bottom: 1.5rem;
}

.app-home-login-buttons {
	display: flex;
	flex-direction: row;
}

.app-home-login-btn {
	display: flex;

	padding: .5rem .75rem;
	background: gray;
	border-radius: .25rem;
	color: white;
	text-decoration: none;

	transition: all .25s;

	margin: 0 auto;
	margin-bottom: .5rem;
}

.app-home-login-btn > .iconify {
	margin-right: .5rem;
}

.app-home-login-btn-spotify {
	background: #1db954;
}

.app-home-login-btn-spotify:focus {
	background: #189042;
}

.app-home-login-btn-deezer {
	background-color: #FEAA2D;
	background-image: linear-gradient(90deg, rgba(240,98,98,1), rgba(255,255,255,0));
}

.app-home-login-btn-deezer:focus {
	background-color: #963CAA;
}

@media (max-width: 425px) {
	.app-home-login-buttons {
		flex-direction: column;
	}

	.app-home-login-btn {
		width: 12rem;
		justify-content: center;
	}
}

.app-home-header {
	margin-bottom: 3rem;
}

#app-home-clients {
	display: flex;
	align-items: center;
}

#app-home-clients-imgs {
	margin: 0 .5rem 0 .25rem;
}

.app-home-client-img {
	height: 1.5rem;
	width: 1.5rem;
	margin-left: -0.25rem;

	border-radius: 100%;
}

.app-home-section {
	margin-bottom: 1rem;
}

.app-home-section-scroll {
	margin: 0 -1rem;
	padding: 0 1rem 1rem 1rem;
	overflow: auto;
	display: flex;
}

.app-home-section-title {
	margin-bottom: .75rem;
}

.app-home-item {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 11rem;
	padding-right: 1rem;

	transition: transform .15s;
}

.app-home-item:active {
	transform: scale(0.95) !important;
}

.app-home-item-img {
	height: 10rem;
	width: 10rem;
	margin-bottom: .5rem;
	object-fit: cover;
}

.app-home-item-name {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}