#topnav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9;

	padding: .75rem 1rem;

	transition: background .25s;
}

#topnav.scrolled { background: #2A2A2A; }

.navbar-icons {
	transition: transform .15s;
}

.navbar-menu-icon {
	font-size: 1.5rem;
	margin-right: .5rem;

	min-width: 2rem;
}

#navbar-playing-context {
	display: flex;
	flex-direction: column;
	min-width: 0;
	margin: 0 .5rem;

	visibility: hidden;
	opacity: 0;

	transition: opacity .5s;

	text-align: center;
}

#navbar-playing-context-type {
	font-size: .7rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #DDDDDD;
}

#navbar-playing-context-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#navbar-client-selected {
	display: flex;
	position: relative;
}

#navbar-client-selected-img {
	height: 2rem;
	width: 2rem;
	margin-left: .5rem;
	object-fit: cover;
	border-radius: 100%;
	border: 2px solid #FFFFFF80;
}

#navbar-client-selected-platform {
	background: white;
	color: black;
	border-radius: 100%;

	position: absolute;
	bottom: -.2rem;
	right: -.2rem;
}

#bottom-navs {
	position: sticky;
	bottom: 0;

	transition: all ease-in-out .5s;
}

#bottomnav {
	background: #1A1A1A;

	display: flex;
	width: 100%;
	padding: 0 .25rem;
}

.bottom-nav-item {
	width: 100%;
	padding: .5rem .25rem;

	color: #bdbdbd;
	transition: color .15s, transform .15s;

	text-align: center;
}

.bottom-nav-item:active,
.playing-nav-icon:active,
.navbar-icons:active {
	transform: scale(0.95) !important;
}

.bottom-nav-item.selected { color: white; }

.bottom-nav-icon {
	font-size: 1.75rem;
}

.bottom-nav-item > span {
	margin-top: .25rem;
	font-size: 0.75rem;
}

#playing {
	background: #1A1A1A;
	display: flex;

	padding-right: .5rem;

	border-bottom: 1px solid #FFFFFF30;
	border-top: 1px solid #FFFFFF30;
}

#playing-track {
	display: flex;
	min-width: 0;
	width: 100%;
}

#playing-img {
	height: 4rem;
	width: 4rem;

	object-fit: cover;
}

#playing-track-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto 1rem;
	min-width: 0;
}

#playing-track-name {
	font-size: 1.2rem;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#playing-track-artist {
	color: #CCCCCC;

	font-size: 1rem;
}

.playing-nav-icon {
	margin: auto .5rem;
	font-size: 2rem;

	min-width: 2rem;

	transition: transform .15s;
}

.playing-nav-saved {
	color: #1db954;
}