#player {
	height: 100%;
	width: 100%;

	padding: 5rem 2rem 3rem 2rem;

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	background: linear-gradient(180deg, rgba(41,91,99,1) 0%, rgba(15,31,33,1) 100%);
	opacity: 0;
	z-index: -2;

	transition: opacity .5s;
}

#player-cover {
	width: 100%;

	margin-bottom: 2rem;

	box-shadow: 0px 4px 8px 4px #00000050;
}

#player-track-info {
	display: flex;
	align-items: center;

	margin-bottom: auto;
}

#player-track-artist {
	color: #CCCCCC;

	font-weight: normal;
}

#playing-track-info-save {
	font-size: 2rem;
	margin-left: 1rem;

	transition: color .25s transform .15s;
}

.player-track-info-saved {
	color: #1db954;
}

#player-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 2rem 0 1rem 0;
}

.player-controls-icon {
	font-size: 3rem;
	padding: .5rem;

	transition: transform .15s;
}

#player-controls-playpause {
	background: white;
	color: black;
	border-radius: 100%;
	font-size: 3.5rem;
}

#player-device-controls,
#player-device-controls-active {
	display: flex;
	align-items: center;
}

.player-device-controls-icon {
	padding: .5rem;
	font-size: 2.5rem;
}

#player-device-controls-active {
	transition: transform .15s;

	color: #1db954;
}

.player-controls-icon:active,
#player-device-controls-active:active,
#playing-track-info-save:active {
	transform: scale(0.95) !important;
}

#player-device-controls-active-icon {
	margin-right: .25rem;
}