#player {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background: linear-gradient(180deg, rgba(41,91,99,1) 0%, rgba(15,31,33,1) 100%);
	opacity: 0;

	transition: opacity .5s;
}