#player {
	height: 100%;
	width: 100%;

	padding: 5rem 2rem 3rem 2rem;

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1));
	background-color: rgb(41,91,99);
	opacity: 0;
	z-index: -2;

	transition: opacity .5s, background-color 2s;
}

#player-cover {
	width: auto;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: calc(100% - 16rem);

	margin: auto;

	box-shadow: 0px 8px 16px 4px #00000050;
}

#player-track-info {
	margin-top: 1rem;
	
	display: flex;
	align-items: center;
}

#player-track-artist {
	color: #CCCCCC;

	font-weight: normal;
}

#playing-track-info-save {
	font-size: 2rem;
	margin-left: 1rem;

	transition: color .25s, transform .15s;
}

.player-track-info-saved {
	color: #1db954;
}

#player-position-time-div {
	display: flex;
	justify-content: space-between;
	margin-top: -0.5rem;
	font-size: .8rem;
	color: #BBB;
	font-variant: tabular-nums;
}

#player-controls {
	display: flex;
	align-items: center;

	margin: 1rem -.5rem;
}

.player-controls-icon {
	font-size: 3rem;
	padding: .5rem;

	transition: transform .15s;
}

#player-controls-previous {
	margin-left: auto;
}

#player-controls-playpause {
	background: white;
	color: black;
	border-radius: 100%;
	font-size: 4.5rem;
	padding: .75rem;
	margin: 0 1.5rem;
}

#player-controls-next {
	margin-right: auto;
}

#player-device-controls {
	margin: 0 -.5rem;
}

#player-device-controls,
#player-device-controls-active {
	display: flex;
	align-items: center;
}

.player-device-controls-icon {
	padding: .5rem;
	font-size: 2.5rem;
}

#player-device-controls-active {
	transition: transform .15s;

	color: #1db954;
}

.player-controls-icon:active,
#player-device-controls-active:active,
#playing-track-info-save:active {
	transform: scale(0.95) !important;
}

#player-device-controls-active-icon {
	margin-right: .25rem;
}

.rangeslider {
	position: relative;

	background: #999999;
}

.rangeslider.rangeslider--horizontal {
	min-height: 4px;
	width: 100%;
	margin: 1rem 0;
}

.rangeslider__fill {
	position: absolute;
	height: 100%;

	background: #FFFFFF;

	transition: width linear 1s;
}

.rangeslider, .rangeslider__fill {
	border-radius: 999px;
}

.rangeslider--horizontal .rangeslider__handle {
	top: -4px;
	touch-action: pan-y;
	-ms-touch-action: pan-y;

	transition: transform ease-out .1s, left linear 1s;
}

.rangeslider__handle:active,
.rangeslider__handle:focus,
.rangeslider__handle:focus-within {
	transform: scale(1.3);
}

.rangeslider__handle {
	background: #FFFFFF;
	display: inline-block;

	position: absolute;
	width: 12px;
	height: 12px;

	border-radius: 50%;
}